Dear legal team,

Please help with the following questions regarding the license {{ license_id }}, see [1]:

1. In which category do we have to add that license?
2. Should the license be added to the notice file?
3. Should a source code offer be included in the notice file?

[1] {{license_url}}
